div.displayButtons {
    margin-left:-10%; 
    margin-top:  40%;
}

input[id=searchContact] {
    width: 100%;
}

button[type=button1] {
    overflow     : hidden;

    margin-top:  2%;

    height: 15%;
    width: 50%;
}

button[type=button2] {
    overflow     : hidden;

    margin-top:  2%;

    height: 10%;
    width: 30%;
}

button[type=button3] {
    overflow     : hidden;

    margin-top:  1%;

    height: 10%;
    width: 30%;
}

button[type=button4] {
    overflow     : hidden;

    margin-left: 80%; 
    margin-top:  3%;

    height: 50px;
    width: 100px;
}

.margin-bottom {
    margin-bottom: 15px;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: black;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}




.navbar {
	background: #f8f8f8;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.navbar .navbar-brand {
	font-weight: bold;
	font-size: 30px;
	color: #dd5638;
}

.navbar-right {
	margin-right: 10px;
}