div.displayButtons {
    margin-left:-10%; 
    margin-top:  40%;
}

input[id=searchContact] {
    width: 70%;
}

button[type=button1] {
    overflow     : hidden;

    margin-top:  2%;

    height: 15%;
    width: 50%;
}

button[type=button2] {
    overflow     : hidden;

    margin-top:  2%;

    height: 10%;
    width: 30%;
}

button[type=button3] {
    overflow     : hidden;

    margin-top:  1%;

    height: 10%;
    width: 30%;
}

.margin-bottom {
    margin-bottom:15px;
}

div.displayTable {
    border: 3px solid rgb(13, 110, 253);
    border-radius: 12px;
    padding: 0px;

    background-color: #ffffff;

    height: 76%;
    width:120%; 
    margin-left:-15%; 
    margin-top:  25%;

    display: block;
    overflow-y: auto;
}

