.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
}

.fade-in-text {
  animation: fadeIn 3s;
}

.contact-info-form {
  position: relative
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

@keyframes fadeIn {
  0% { opacity: 0; 
    transform: translateX(-20px);}
  100% { opacity: 1; 
    transform: translateX(0);}
}

@media (max-width: 995px){
  .bg-image{
    display: none;
  }
}
 
 
