div.displayButtons {
    margin-left:-10%; 
    margin-top:  40%;
}

input[id=searchContact] {
    width: 70%;
}

button[type=button1] {
    overflow     : hidden;

    margin-top:  2%;

    height: 15%;
    width: 50%;
}

button[type=button2] {
    overflow     : hidden;

    margin-top:  2%;

    height: 10%;
    width: 30%;
}

button[type=button3] {
    overflow     : hidden;

    margin-top:  1%;

    height: 10%;
    width: 30%;
}

button[type=button4] {
    overflow     : hidden;

    margin-left: 80%; 
    margin-top:  3%;

    height: 50px;
    width: 100px;
}

.margin-bottom {
    margin-bottom:15px;
}

div.displayTable {
    border: 3px solid rgb(13, 110, 253);
    border-radius: 12px;
    padding: 0px;

    background-color: #ffffff;

    height: 480px;
    width: 120%; 
    margin-left:-15%; 
    margin-top:  25%;

    display: block;
    overflow-y: auto;
}
.table tbody>tr>td.middle {
	vertical-align: middle;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  

.navbar {
	background: #f8f8f8;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.navbar .navbar-brand {
	font-weight: bold;
	font-size: 30px;
	color: #dd5638;
}

.navbar-right {
	margin-right: 10px;
}